NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
INTERSWITCH_CLIENT_ID=
INTERSWITCH_CLIENT_SECRET=
INTERSWITCH_BASE_URL=https://sandbox.interswitchng.com
MONIERATE_API_KEY=
OPEN_ER_API_URL=https://open.er-api.com/v6/latest/USD
